@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'common/var' as *;
@use 'mixins/var' as *;
@use './bgy-tree-select-dropdown.scss' as *;
@use './select/common.scss' as *;

@include b(bgy-tree-select) {
  @include set-component-css-var('bgy-tree-select', $bgyTreeSelect);
}

@include b(bgy-tree-select) {
  display: inline-block;
  position: relative;
  line-height: map.get($input-height, 'default');

  @include e(popper) {
    @include picker-popper(
      map.get($select-dropdown, 'bg-color'),
      map.get($select-dropdown, 'border'),
      map.get($select-dropdown, 'shadow')
    );
  }

  // 多尺寸
  @each $size in (large, small) {
    @include m($size) {
      line-height: map.get($input-height, $size);
    }
  }

  // 多选
  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: var(--el-index-normal);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > span {
      display: inline-block;
    }

    .#{$namespace}-tag {
      box-sizing: border-box;
      border-color: transparent;
      margin: 2px 0 2px 6px;

      .#{$namespace}-icon-close {
        background-color: var(--el-text-color-placeholder);
        right: -7px;
        top: 0;
        color: $color-white;

        &:hover {
          background-color: var(--el-text-color-secondary);
        }

        &::before {
          display: block;
          transform: translate(0, 0.5px);
        }
      }
    }
    .#{$namespace}-tag--info {
      background-color: #f0f2f5;
    }
  }

  //&:hover {
  //  .#{$namespace}-input__inner {
  //    border-color: var(--el-select-border-color-hover);
  //  }
  //}

  @include select-common(bgy-tree-select);

  .#{$namespace}-input__inner {
    cursor: pointer;
    display: inline-flex;

    &:focus {
      border-color: var(--el-bgy-tree-select-input-focus-border-color);
    }
  }

  .#{$namespace}-input {
    display: flex;

    & .#{$namespace}-bgy-tree-select__caret {
      color: var(--el-bgy-tree-select-input-color);
      font-size: var(--el-bgy-tree-select-input-font-size);
      transition: transform var(--el-transition-duration);
      transform: rotateZ(180deg);
      cursor: pointer;

      @include when(reverse) {
        transform: rotateZ(0deg);
      }

      @include when(show-close) {
        font-size: var(--el-bgy-tree-select-font-size);
        text-align: center;
        transform: rotateZ(180deg);
        border-radius: var(--el-border-radius-circle);
        color: var(--el-bgy-tree-select-input-color);
        transition: var(--el-transition-color);

        &:hover {
          color: var(--el-bgy-tree-select-close-hover-color);
        }
      }

      &.#{$namespace}-icon {
        height: inherit;
      }
    }

    &.is-disabled {
      & .#{$namespace}-input__inner {
        cursor: not-allowed;

        &:hover {
          border-color: var(--el-bgy-tree-select-disabled-border);
        }
      }
    }

    &.is-focus .#{$namespace}-input__inner {
      border-color: var(--el-bgy-tree-select-input-focus-border-color);
    }
  }

  @include e(input) {
    border: none;
    outline: none;
    padding: 0;
    margin-left: 15px;
    color: getCssVar('bgy-tree-select', 'multiple-input-color');
    font-size: getCssVar('bgy-tree-select', 'font-size');
    appearance: none;
    height: 28px;
    background-color: transparent;
  }

  .#{$namespace}-tag__close {
    margin-top: -2px;
  }
}
