.bgy-anchor {
  .fixed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 8px 0 16px;
    position: relative;
  }
  .ink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    .ink-ball {
      position: absolute;
      left: 50%;
      display: none;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border: 2px solid var(--el-color-primary);
      border-radius: 8px;
      transform: translateX(-50%);
      transition: top 0.3s ease-in-out;
      display: inline-block;
    }
  }
  .ink::before {
    position: relative;
    display: block;
    width: 2px;
    height: 100%;
    margin: 0 auto;
    background-color: #f0f0f0;
    content: ' ';
  }
}
